
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container{
    width: 450px;
    height: min-content;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid;
    background-color: blueviolet;
}
.search-box button{
    cursor: pointer;
}
.search-box input {
    width: 78%;
    font-size: 20px;
    text-transform: capitalize;
    background-color: black;

    padding: 12px 16px;
    border-radius: 10px;
    outline: none;
    border: 0;
    color: black;
}
.search-box input:hover {
 background-color: rgb(255, 255, 255);
}
.search-box button:hover {
    background-color: black;
    color: #fff;
}